<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>My name is Hsiang-Chun Wang, a master student of Pro. Rau(Rau, Pei-Luen Patrick) at of Tsinghua University in Beijing and will graduate this July. Please call me Sam. It is my honor to introduce myself to you.</p>
    <p>I'm very interested in mobile internet industry and looking forward to being a product manager after graduation. Please feel free to contact me if you want to discuss related topics with me. </p>
</div><!--//summary-->
</section><!--//section-->
