 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
        <h4 class="meta">Tsinghua University (Beijing)</h4>
        <h5 class="degree">M.A. degree in Industrial Engineering</h5>
    <div class="time">2015.09 - 2017.06</div>
</div><!--//item-->
<div class="item">
     <h4 class="meta">National Cheng Kung University</h4>   
     <h5 class="degree">B.A. degree in Transportation &amp; Communication Management</h5>
    <div class="time">2015.09 - 2017.06</div>
</div><!--//item-->
</div><!--//education-container-->
