 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">M.A. degree in Industrial Engineering</h4>
    <h5 class="meta">Tsinghua University (Beijing)</h5>
    <div class="time">2015.09 - 2017.06</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.A. degree in Transportation & Communication Management</h4>
    <h5 class="meta">National Cheng Kung University</h5>
    <div class="time">2015.09 - 2017.06</div>
</div><!--//item-->
</div><!--//education-container-->
