<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design Research Intern</h3>
                            <div class="time">2016.04 - 2016.10</div>
                        </div><!--//upper-row-->
                        <div class="company">ASGEA Design Studio (Studio 8) @Microsoft, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                           <ul type="disc">
                              <li>Delivered comprehensive competitor analysis of Duer, Kik & Luka and helped product team build differentiated feature of product.</li>
                              <li>For Cortana today view project, working with designers and product managers on usability test, found the key problems, and map out a clear direction of vNext design solution.</li>
                              <li>For bot intelligent project, build up a clear guideline, and helped designers to build user friendly bot related products.</li>
                              <li>Worked with designers on Hackathon project, and created a new concept of Cortana on mobile, which won the 3rd prize of Microsoft.</li>
                           </ul>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Supply Chain Management Intern</h3>
                            <div class="time">2015.07 - 2015.09 </div>
                        </div><!--//upper-row-->
                        <div class="company">SCM Department @Primax, Taipei</div>
                    </div><!--//meta-->
                    <div class="details">
                           <ul type="disc">
                              <li>Arrange the data in MRP (Material Resource Plan) System, help team find out the error data in system, ensure the data validity to make good decision toward each business unit.</li>
                              <li>Improve the WMS (Warehouse Management System) by field study, includes the warehouse layout and operation process.</li>
                              <li>Forecast 2016 product demand by seasonality and trend model, help team make decision to lower down the uncertainty and risk.</li>
                           </ul> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Military Service</h3>
                            <div class="time">2014.07 - 2015.06 </div>
                        </div><!--//upper-row-->
                        <div class="company">Taipei Women’s Detention Center, New Taipei city</div>
                    </div><!--//meta-->
                </div><!--//item-->
  
  
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Transportation Planning Intern</h3>
                            <div class="time">2012.07 - 2012.09 </div>
                        </div><!--//upper-row-->
                        <div class="company">TP Department @THI Consultants, Taipei</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
            </section><!--//section-->
