<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>PUBLICATION</h2>
                <div class="intro">
                    <p>“User Reaction to the Same Topic in Sina Weibo and Twitter: A Topic Study based on Data Mining”</p>
                </div><!--//intro-->
                <p>The main focus of this paper is about the online users’ social networking behaviors on the world earth day. By using ROST software, we compared four aspects of those differences between Twitter and Sina Weibo, which includes topic intensity, key words, frequent usernames and sub-topics.</p>
            </section><!--//section-->
