<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>PUBLICATION</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">“User Reaction to the Same Topic in Sina Weibo and Twitter: A Topic Study based on Data Mining”</h3>
                           
                        </div><!--//upper-row-->
                        <div class="company">Chinese Ergonomics Society conference
                            <div class="time">2015.11</div>
                      </div>
                    </div><!--//meta-->
                    <div class="details">
                           <p>
The main focus of this paper is about the online users’ social networking behaviors on the world earth day. By using ROST software, we compared four aspects of those differences between Twitter and Sina Weibo, which includes topic intensity, key words, frequent usernames and sub-topics.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->
