<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>EXPERTISE</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Research Methodologies<br/></h3> 
                          <div class="skillcontent">Usability Testing, Interview, Persona, Diary Study, Questionnaires, Experiment, Eye-tracking analysis, Affinity Diagramming, Card Sorting, Contextual Inquiry, KJ Technique, Think- Aloud, Heuristic Evaluation</div>                                 
                      </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Design &amp; Prototype Tools</h3>
                        <div class="skillcontent">   
                          <p>Sketch, Principle, Photoshop, Adobe illustrator</p>
                         </div> <!--//skillcontent-->
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Evaluation Tools</h3>
                        <div class="skillcontent">      
                          <p>SPSS, Excel</p> 
                        </div> <!--//skillcontent-->
                    </div><!--//item-->
                    
                </div>
            </section> <!--//skills-section-->
