<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>EXPERTISE</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Research Methodologies</h3>
                          <h4 class="skillcontent">Usability Testing, Interview, Persona, Diary Study, Questionnaires, Experiment, Eye-tracking analysis, Affinity Diagramming, Card Sorting, Contextual Inquiry, KJ Technique, Think- Aloud, Heuristic Evaluation</h4>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Design & Prototype Tools</h3>
                          <h4 class="skillcontent">Sketch, Principle, Photoshop, Adobe illustrator</h4>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Evaluation Tools</h3>
                          <h4 class="skillcontent">SPSS, Excel</h4>                                 
                    </div><!--//item-->
                    
                 </div>  
</section><!--//skills-section-->
