<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>EXPERTISE</h2>

                      <div class="skillitem">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programming </h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                           <p>C, Python, HTML&amp;CSS, Excel VBA</p>
                    </div><!--//details-->
                </div><!--//item--> 

                <div class="skillitem">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Methodologies</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                           <p>
Usability Testing, Interview, Persona, Diary Study, Questionnaires, Experiment, Eye-tracking analysis, Affinity Diagramming, Card Sorting, Contextual Inquiry, KJ Technique, Think-Aloud, Heuristic Evaluation</p>
                    </div><!--//details-->
                </div><!--//item-->
                
  
                  <div class="skillitem">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design &amp; Prototype Tools</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                           <p>Sketch, Principle, Photoshop, Adobe illustrator</p>
                    </div><!--//details-->
                </div><!--//item-->
                
  
                    <div class="skillitem">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Evaluation Tools</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                           <p>SPSS, Excel</p>
                    </div><!--//details-->
                </div><!--//item-->
                

            </section><!--//section-->
